fastapi==0.103.1
uvicorn==0.23.2
sqlalchemy==2.0.20
bcrypt==3.2.0
email-validator==2.2.0
python-dotenv==1.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pydantic-settings==2.0.3
jose[cryptography]
fastapi-sessions==0.3.2
gunicorn
